<div class="main-container">
	<div *ngIf="status < RequestStatus.Success; else result">
		<h5 class="mat-h4">Confirming your email, please wait...</h5>
	</div>
	<ng-template #result>
		<div *ngIf="status == RequestStatus.Success; else error">
			<h5 class="mat-h4">Email confirmed. You will be redirected to the main page in {{REDIRECT_TIME_DELAY_MS/1000}} seconds.</h5>
		</div>
		<ng-template #error>
			<h5 class="mat-h4">Failed: the link is invalid or expired.</h5>
		</ng-template>
	</ng-template>
</div>

