.video-card {
  width: 24rem;
display:flex;
flex-direction:column;
gap:0.625rem;
}
.video-preview-container {
  width: 100%;
  height: 15rem;
  background-color: black;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
position:relative;
}
.video-preview {
  width:100%;
height:100%;
object-fit:contain;
}
.video-title {
  margin: 0;
}
.video-info {
  display:flex;
  flex-direction: column;
}
  a {
    text-decoration: none;
  }
.video-length-container {
  position: absolute;
  height: 24px;
padding: 4px;
  background-color: black;
  right: 0;
  bottom: 0;
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
border-bottom-left-radius: 0;
}
