@import "../../../breakpoints.scss";

.video-listing-main {
  /*overflow-y:scroll;*/
  width: 100%;
}
.grid-container {
  display: grid;
  gap: 0.825rem;
}
@include xs {
  .grid-container {
    grid-template-columns: 100%;
  }
}
@include sm {
  .grid-container {
    grid-template-columns: 49% 49%;
  }
}
@include md {
  .grid-container {
    grid-template-columns: 49% 49%;
  }
}
@include lg {
  .grid-container {
    grid-template-columns: 32% 32% 32%;
    
  }
}
@include xl {
  .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
