@import "../../../breakpoints.scss";


@media (max-width: 599px) {
  .main-container {
    max-height: calc( 100dvh - var(--mat-toolbar-mobile-height));
  }
}
.main-container {
  padding-inline: 1%;
  padding-top: 1rem;
  width: 100%;
  overflow-y: auto;
  max-height: calc( 100dvh - var(--mat-toolbar-standard-height));
}

.video-listing-main {
  /*overflow-y:scroll;*/
  width: 100%;
  margin-top: 1rem;
}

.grid-container {
  display: grid;
  gap: 0.825rem;
}
@include xs {
  .grid-container {
    grid-template-columns: 100%;
  }
}
@include sm {
  .grid-container {
    grid-template-columns: 49% 49%;
  }

  .main-container {
    padding-inline: 1vw;
  }
}
@include md {
  .grid-container {
    grid-template-columns: 49% 49%;
  }

  .main-container {
    padding-inline: 2.5vw;
  }
}
@include lg {
  .grid-container {
    grid-template-columns: 32% 32% 32%;
  }

  .main-container {
    padding-inline: 4vw;
  }
}
@include xl {
  .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
.video-loader-container {
  display: flex;
  width: 100%;
  height:fit-content;
  justify-content: center;
}
.uploader-filter {
  height: auto;
}
.controls-container {
  display:flex;
  gap: 0.5rem;
}
