<batch-scroller [endOfDataReached]="endOfDataReached" [isLoading]="isLoadingVideos" (onNextRequiredBatch)="getNextBatch()">
	<div #scrollContainer class="main-container">
		@if(isSearchControlsShown()) {
		<div class="controls-container dense-minus-4">
			<mat-form-field subscriptSizing="dynamic">
				<mat-select [formControl]="sortControl" placeholder="Sort">
					<mat-option>--</mat-option>
					@for (sort of searchControls!.sortOptions; track sort) {
					<mat-option [value]="sort">{{formatOption(sort)}}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field subscriptSizing="dynamic">
				<mat-select [formControl]="timeFilterControl" placeholder="Upload Time">
					<mat-option>--</mat-option>
					@for (filter of searchControls!.timeFilterOptions; track filter) {
					<mat-option [value]="filter">{{formatOption(filter)}}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field subscriptSizing="dynamic">
				<mat-select [formControl]="lengthFilterControl" placeholder="Length">
					<mat-option>--</mat-option>
					@for (filter of searchControls!.lengthFilterOptions; track filter) {
					<mat-option [value]="filter">{{formatOption(filter)}}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			@if(getCurrentSearchParameters().uploaderIdFilter) {
			<mat-chip-option class="uploader-filter" selected="true" selectable="false" (removed)="cancelUploadSearch()">
				by {{getCurrentSearchParameters().uploaderAlias ?? "Unknown"}}
				<button matChipRemove>
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip-option>
			}

		</div>
		}
		@if(videos) {
		<div class="video-listing-main grid-container">
			<div *ngFor="let video of videos">
				<video-card [video]="video" />
			</div>
		</div>
		}

		<div class="video-loader-container">
			@if(isLoadingVideos) {
			<mat-spinner [diameter]="videos == null? 100 : 28"></mat-spinner>
			}
		</div>

	</div>
</batch-scroller>
