<div class="video-card">
	<a [routerLink]="getWatchRouterLink()">
		<div class="video-preview-container">
			<img mat-card-image
				 class="video-preview"
				 (mouseenter)="onVideoPreviewHoverStart()"
				 (mouseleave)="onVideoPreviewHoverEnd()"
				 [src]="currentThumbnailSrc"/>
		<div class="video-length-container">
			<p class="mat-body">{{video?.lengthHuman}}</p>
		</div>
		</div>
	</a>
	<a [routerLink]="getWatchRouterLink()">
		<div class="video-info">
			<h4 class="video-title mat-h3">{{video?.title}}</h4>
			<div class="video-subinfo-container">
				<p class="mat-caption caption-grey">{{getViewsText()}} views</p>
				<p class="mat-caption caption-grey">|</p>
				<p class="mat-caption caption-grey">{{getUploadTimeText()}}</p>
			</div>
		</div>
	</a>
</div>
