<div class="main-contianer">
	<div *ngIf="!showForm; else passwordChangeForm">
		<div [ngSwitch]="status">
			<div *ngSwitchDefault>
				<h5 class="mat-h3">Processing...</h5>
			</div>
			<div *ngSwitchCase="RequestStatus.Error">
				<h5 class="mat-h3">Link is invalid or expired.</h5>
			</div>
		</div>
	</div>
	<ng-template #passwordChangeForm>
		<div [ngSwitch]="status">
			<div *ngSwitchDefault>
				<form (ngSubmit)="submit()" [formGroup]="formGroup">
					<mat-form-field subscriptSizing="dynamic" color="accent" appearance="fill">
						<mat-label>Password</mat-label>
						<input type="password" matInput [formControl]="passwordControl">
						<mat-error class="mat-small" *ngIf="getPasswordRequiredError() != null">{{getPasswordRequiredError()}}</mat-error>
						<mat-error class="mat-small" *ngIf="getPasswordLengthError() != null">{{getPasswordLengthError()}}</mat-error>
						<mat-error class="mat-small" *ngIf="getPasswordLetterError() != null">{{getPasswordLetterError()}}</mat-error>
						<mat-error class="mat-small" *ngIf="getPasswordDigitError() != null">{{getPasswordDigitError()}}</mat-error>
					</mat-form-field>
					<mat-form-field subscriptSizing="dynamic" color="accent" appearance="fill">
						<mat-label>Password (Again)</mat-label>
						<input type="password" matInput [formControl]="passwordConfirmationControl">
						<mat-error class="mat-small" *ngIf="getPasswordsMatchError() != null">{{getPasswordsMatchError()}}</mat-error>
					</mat-form-field>
					<button color="accent" mat-raised-button [disabled]="!formGroup.valid">Set New Password</button>
				</form>
			</div>
			<div *ngSwitchCase="RequestStatus.Error">
				<h5 class="mat-h3">Link is invalid or expired.</h5>
			</div>
			<div *ngSwitchCase="RequestStatus.Success">
				<h5 class="mat-h3">Password changed successfully. You can leave this page.</h5>
			</div>
		</div>
	</ng-template>
</div>
