<div class="main-container">
	<form (ngSubmit)="submit()" [formGroup]="formGroup">
		<mat-form-field subscriptSizing="dynamic" color="accent" appearance="fill">
			<mat-label >Email or Username</mat-label>
			<input matInput [formControl]="credentialControl">
			<mat-error class="small" *ngIf="getCredentialError() != null">{{getCredentialError()}}</mat-error>
		</mat-form-field>
		<mat-form-field subscriptSizing="dynamic" color="accent" appearance="fill">
			<mat-label>Password</mat-label>
			<input type="password" matInput [formControl]="passwordControl">
			<mat-error class="small" *ngIf="getPasswordError() != null">{{getPasswordError()}}</mat-error>
		</mat-form-field>
		<mat-error *ngIf="getServerError() != null">{{getServerError()}}</mat-error>
		<a class="dense-minus-3" mat-button [matMenuTriggerFor]="resetPasswordMenu"><p class="mat-small">Forgot password?<p></a>
		<mat-menu #resetPasswordMenu>
			<reset-password-form (click)="$event.stopPropagation()" />
		</mat-menu>
		@if(signInSubscription) {
			<mat-spinner diameter="25"></mat-spinner>
		}
		@else {
			<button mat-raised-button color="accent" [disabled]="!formGroup.valid">Sign In</button>
		}
		<!-- <div class="w-100 d-flex">
		<mat-checkbox class="me-auto" [formControl]="rememberMeControl">Remember Me</mat-checkbox>
				  <button class="me-2" mat-button color="accent" [disabled]="!formGroup.valid">Sign In</button>
		  </div> -->
	</form>
</div>
