<div class="d-flex align-items-center">
	<mat-form-field style="width:40vw" subscriptSizing="dynamic" class="dense-minus-3" appearance="outline">
		<input matInput [formControl]="inputControl" type="text" [matAutocomplete]="auto" (input)="inputChanged()" (keyup.enter)="submit()" />

		<mat-autocomplete #auto="matAutocomplete" hideSingleSelectionIndicator="true" autoSelectActiveOption="false" (optionSelected)="submit()">
			<mat-option *ngFor="let suggestion of suggestionsSource" [value]="suggestion" selected="false">
				{{suggestion}}
			</mat-option>
		</mat-autocomplete>
		@if (inputControl.value) {
		<button matSuffix mat-icon-button (click)="inputControl.setValue(null)">
			<mat-icon>close</mat-icon>
		</button>
		}
	</mat-form-field>
	<button class="ms-1" mat-icon-button (click)="submit()"><mat-icon>search</mat-icon></button>
</div>
