<div class="root-container">
	@if(video$ | async; as video) {
	<div class="video-player-container">
		<ngx-player #player class="video-player" (onApi)="onApi($event)"
					[options]="getVideoPlayerOptions(video.urls)"></ngx-player>
	</div>
	<div class="video-info-container">
		<h2>{{video.title}}</h2>
		<p>by <a routerLink="/channel/{{video.uploaderId}}">{{video.uploaderPublicUsername}}</a></p>
		<div class="video-info-second-line-container">
			<p class="mat-small">{{getUploadTimeText()}}</p>
			<div class="video-views-container">
				<mat-icon class="views-icon">visibility</mat-icon>
				<h4 class="mat-small">{{video.views}}</h4>
			</div>
			<video-reaction [video]="video" />
		</div>
		<div class="video-info-description-container"><h3>{{video.description}}</h3></div>
	</div>
	

	}
	@else {
	<h2>Loading...</h2>
	}
</div>
