.video-player-container {
  height: 56vw;
  max-height: 78vh;
  width: 100%;
}
.root-container {
  position: absolute;
  left: 0;
  width: 100%;
  overflow-y: auto;
  max-height: calc( 100dvh - var(--mat-toolbar-standard-height));
}
.video-info-container {
  display:flex;
  flex-direction: column;
margin-top: 1rem;
  width: 100%;
  padding-inline: 4%;
  gap: 0.5rem;
}
like-component {
  margin-left: 12rem;
}
.views-container {
  display: flex;
  flex-direction: row;
gap: 0.825rem;
}
.video-info-description-container {

}
.video-views-container {
  display:flex;
  flex-direction: row;
  width: 2.425rem;
  justify-content: space-between;
  align-items: center;
}
.video-info-second-line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
margin-top: -0.625rem;
}
.separator-line {
  border-left: 1px solid var(--text-main-color);
  height: 100%
}
.views-icon {
  transform: scale(0.75);
}
video-reaction {
  margin-bottom: 6px;
margin-left: 2rem;
}
.uploader-button {
  max-width: fit-content;
}
.upload-time-label {
  white-space: nowrap;
  overflow: hidden;
}
