@import "../../../breakpoints.scss";

.video-listing-main {
/*  padding-right: 3.425rem;
  padding-left: 3.425rem;*/
  width: 100%;
}
.grid-container {
  display: grid;
  gap: 1rem;
}
@include xs {
  .grid-container {
    grid-template-columns: 100%;
  }
}
@include md {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}
/*@include lg {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}*/
@include xl {
  .grid-container {
    grid-template-columns: 33% 33% 33%;
  }
}
