<div class="w-100 d-flex flex-column align-items-center mt-2 ">
	<div *ngIf="user$ | async as user; else noUser">
		<div class="d-flex flex-column align-items-start profile-container dense-minus-2">
			<h5>Email</h5>
			<h6>{{user.email}}</h6>
			<div class="mt-2 w-100">
				<form class="d-flex flex-column align-items-center" [formGroup]="emailChangeGroup" (submit)="submitEmailChange()">
					<mat-form-field class="w-100" subscriptSizing="dynamic" color="accent" appearance="fill">
						<input matInput type="email" [formControl]="emailChangeNewEmailControl" placeholder="New Email" />
						<mat-error class="small" *ngIf="getEmailError() != null">{{getEmailError()}}</mat-error>
						<mat-error class="small" *ngIf="getEmailServerError() != null">{{getEmailServerError()}}</mat-error>
					</mat-form-field>
					<mat-form-field class="mt-2 w-100" subscriptSizing="dynamic" color="accent" appearance="fill">
						<input matInput type="password" [formControl]="emailChangePasswordControl" placeholder="Current Password" />
						<mat-error class="small" *ngIf="getEmailChangePasswordServerError() != null">{{getEmailChangePasswordServerError()}}</mat-error>
					</mat-form-field>
					<div class="d-flex justify-content-start w-100">
						<button mat-raised-button class="mt-2" [disabled]="!emailChangeGroup.valid || !authManager.jwtSignedInUser$.value?.isEmailConfirmed">Change Email</button>
						<div *ngIf="!authManager.jwtSignedInUser$.value?.isEmailConfirmed">
							<email-confirmation-reminder />
						</div>
					</div>
					
				</form>
			</div>
			<h5>Password</h5>
			<div class="mt-1 w-100">
				<div class="d-flex">
					<button mat-raised-button class="mt-1" (click)="submitPasswordReset()" [disabled]="!canChangePassword()">Change Password</button>
					<div *ngIf="!canChangePassword() && !authManager.jwtSignedInUser$.value?.isEmailConfirmed">
						<email-confirmation-reminder/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-template #noUser>
		<div *ngIf="userRequestError != null; else loading">
			<h5>{{userRequestError}}</h5>
		</div>
		<ng-template #loading>
			<h5>Loading...</h5>
		</ng-template>
	</ng-template>
</div>
