<div class="main-container">
	<button mat-button class="item" routerLink="user/profile">
		<mat-icon>person</mat-icon>
		Account
	</button>
	<hr/>
	<button mat-button class="item" routerLink="/upload"><mat-icon>publish</mat-icon>Upload a Video</button>
	<button mat-button class="item" routerLink="/upload/list"><mat-icon>timeline</mat-icon>Upload History</button>
	<!-- <button mat-button>Watch History</button> -->
	<hr />
	<button mat-button class="item" [matMenuTriggerFor]="signOutMenu" (click)="$event.stopPropagation()" #signOutMenuTrigger>
		<mat-icon>logout</mat-icon>
		Sign Out
	</button>
	<mat-menu #signOutMenu>
		<sign-out-form (click)="$event.stopPropagation()" (onCancelled)="closeSignOutMenu()" />
	</mat-menu>
</div>
