.main-container {
  padding-inline: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
hr {
  width: 100%;
  margin: 1rem 0;
  color: inherit;
  border: 0;
  opacity: .25;
  height: 1px;
  background-color: white;
}
.item {
  width: 100%;
  display:flex;
  justify-content:flex-start;
}
