<div class="main-container">
	@if(comment) {
	<div class="alias-time-container">
		<h4 class="mat-h4">{{"@"}}{{comment.userAlias}}</h4>
		<p class="mat-small time-text">{{getFormattedTime()}}</p>
		@if(comment.belongsToUser(signedInUserId)) {
		<button mat-icon-button class="more-actions-button" [mat-menu-trigger-for]="actionsMenu"><mat-icon>more_vert</mat-icon></button>
		}
	</div>
	@if(comment.edited) {
		<p class="mat-small">*edited</p>
	}
	<h4 class="mat-h4 content-text">{{comment.content}}</h4>
	<div class="reactions-container">
		<div class="like-container">
			<button mat-icon-button (click)="likeComment()"><mat-icon class="like" [class.like-active]="isLiked">thumb_up</mat-icon></button>
			<h3 class="mat-h3">{{comment.reactionsAggregation?.likes ?? 0}}</h3>
		</div>
		<div class="like-container">
			<button mat-icon-button (click)="dislikeComment()"><mat-icon class="like" [class.like-active]="isDisliked">thumb_down</mat-icon></button>
			<h3 class="mat-h3">{{comment.reactionsAggregation?.dislikes ?? 0}}</h3>
		</div>
	</div>
	}
</div>
<mat-menu #actionsMenu>
	<div class="actions-menu-container">
		<button mat-button class="actions-menu-item" (click)="startCommentEdit()">Edit</button>
		<button mat-button class="actions-menu-item" color="warn" (click)="openDeleteConfirmation()">Delete</button>
	</div>
	
</mat-menu>

