<div class="main-container">
	<div *ngIf="user$ | async as user; else noUser">
		<div class="profile-container dense-minus-2">
			<h3 class="mat-h2">Email</h3>
			<h4 class="mat-h3">{{user.email}}</h4>
			<form [formGroup]="emailChangeGroup" (submit)="submitEmailChange()">
				<mat-form-field class="form-field" subscriptSizing="dynamic" color="accent" appearance="fill">
					<input matInput type="email" [formControl]="emailChangeNewEmailControl" placeholder="New Email" />
					<mat-error class="mat-small" *ngIf="getEmailError() != null">{{getEmailError()}}</mat-error>
					<mat-error class="mat-small" *ngIf="getEmailServerError() != null">{{getEmailServerError()}}</mat-error>
				</mat-form-field>
				<mat-form-field class="form-field" subscriptSizing="dynamic" color="accent" appearance="fill">
					<input matInput type="password" [formControl]="emailChangePasswordControl" placeholder="Current Password" />
					<mat-error class="mat-small" *ngIf="getEmailChangePasswordServerError() != null">{{getEmailChangePasswordServerError()}}</mat-error>
				</mat-form-field>
				<div class="action-button-group-container">
					<button mat-raised-button class="mt-2" [disabled]="!emailChangeGroup.valid || !authManager.jwtSignedInUser$.value?.isEmailConfirmed">Change Email</button>
					<div *ngIf="!authManager.jwtSignedInUser$.value?.isEmailConfirmed">
						<email-confirmation-reminder />
					</div>
				</div>
			</form>
			<h3 class="mat-h2">Password</h3>
			<div class="password-container action-button-group-container">
				<button mat-raised-button class="mt-1" (click)="submitPasswordReset()" [disabled]="!canChangePassword()">Change Password</button>
				<div *ngIf="!canChangePassword() && !authManager.jwtSignedInUser$.value?.isEmailConfirmed">
					<email-confirmation-reminder />
				</div>
			</div>
		</div>
	</div>
	<ng-template #noUser>
		<div *ngIf="userRequestError != null; else loading">
			<h5>{{userRequestError}}</h5>
		</div>
		<ng-template #loading>
			<h5>Loading...</h5>
		</ng-template>
	</ng-template>
</div>
