<div class="video-upload-container">
	<div *ngIf ="uploadProgressSubscription == null; else loading;">
		<form (ngSubmit)="submit()" [formGroup]="formGroup">
			<h2>Upload a video</h2>
			<mat-form-field class="w-100" subscriptSizing="dynamic" color="accent" appearance="fill">
				<mat-label>Title</mat-label>
				<textarea matInput
						  [formControl]="titleControl"
						  [maxlength]="videoUploadValidation.MAX_TITLE_LENGTH"
						  cdkTextareaAutosize></textarea>
				<mat-error class="small" *ngIf="getTitleError() != null">{{getTitleError()}}</mat-error>
			</mat-form-field>
			<mat-form-field class="mt-2 w-100" subscriptSizing="dynamic" color="accent" appearance="fill">
				<mat-label>Description</mat-label>
				<textarea matInput
						  [formControl]="descriptionControl"
						  [maxlength]="videoUploadValidation.MAX_DESCRIPTION_LENGTH"
						  cdkTextareaAutosize
						  cdkAutosizeMinRows="4"></textarea>
				<mat-error class="small" *ngIf="getDescriptionError() != null">{{getDescriptionError()}}</mat-error>
			</mat-form-field>
			<div class="d-flex align-items-end justify-content-between mt-4">
				<mat-form-field subscriptSizing="dynamic" color="accent" appearance="outline">
					<mat-label>File</mat-label>
					<ngx-mat-file-input placeholder="Choose a video file" formControlName="fileControl" [accept]="acceptString"></ngx-mat-file-input>
					<mat-icon matSuffix color="accent">movie</mat-icon>
					<mat-error class="small" *ngIf="getFileError() != null">{{getFileError()}}</mat-error>
				</mat-form-field>
			</div>
			<div class="policy-container">
				<mat-checkbox [formControl]="policiesControl" required>
					I accept
					<a class="highlighted-link" (click)="infoService.showContentPolicy(); $event.preventDefault()">Content Policy</a>
					and
					<a class="highlighted-link" (click)="infoService.showPrivacy(); $event.preventDefault()">Privacy Policy</a>.
					<span class="mat-mdc-form-field-error d-inline">*</span>
				</mat-checkbox>
			</div>
			<button mat-raised-button color="accent" class="mt-3" [disabled]="!formGroup.valid">Upload</button>
			<mat-error class="small ms-3" *ngIf="uploadServerError != null">{{uploadServerError}}</mat-error>

		</form>
	</div>
	<ng-template #loading>
		<mat-spinner #uploadSpinner [value] ="uploadPercent" mode="determinate"></mat-spinner>
		<h4>Upload in progress... {{uploadPercentRounded}}%</h4>
	</ng-template>
</div>

