<div class="main-container">
	<form [formGroup]="formGroup" (ngSubmit)="submit()">
		<mat-form-field subscriptSizing="dynamic" color="accent" appearance="fill">
			<mat-label>Username</mat-label>
			<input matInput [formControl]="usernameControl">
			<mat-error *ngIf="getUsernameRequiredError() != null">{{getUsernameRequiredError()}}</mat-error>
			<mat-error *ngIf="getUsernameLengthError() != null">{{getUsernameLengthError()}}</mat-error>
			<mat-error *ngIf="getUsernameLetterError() != null">{{getUsernameLetterError()}}</mat-error>
			<mat-error *ngIf="getUsernameSpecificError() != null">{{getUsernameSpecificError()}}</mat-error>
		</mat-form-field>
		<mat-form-field class="mt-2" subscriptSizing="dynamic" color="accent" appearance="fill">
			<mat-label>Email</mat-label>
			<input type="email" matInput [formControl]="emailControl">
			<mat-error *ngIf="getEmailError() != null">{{getEmailError()}}</mat-error>
		</mat-form-field>
		<mat-form-field class="mt-2" subscriptSizing="dynamic" color="accent" appearance="fill">
			<mat-label>Password</mat-label>
			<input type="password" matInput [formControl]="passwordControl">
			<mat-error *ngIf="getPasswordRequiredError() != null">{{getPasswordRequiredError()}}</mat-error>
			<mat-error *ngIf="getPasswordLengthError() != null">{{getPasswordLengthError()}}</mat-error>
			<mat-error *ngIf="getPasswordLetterError() != null">{{getPasswordLetterError()}}</mat-error>
			<mat-error *ngIf="getPasswordDigitError() != null">{{getPasswordDigitError()}}</mat-error>
		</mat-form-field>
		<mat-form-field class="mt-2" subscriptSizing="dynamic" color="accent" appearance="fill">
			<mat-label>Password (Again)</mat-label>
			<input type="password" matInput [formControl]="passwordConfirmationControl">
			<mat-error *ngIf="getPasswordsMatchError() != null">{{getPasswordsMatchError()}}</mat-error>
		</mat-form-field>
		<mat-error *ngIf="getServerError() != null">{{getServerError()}}</mat-error>
		<!-- <div class="rememberMeContainer">
			<mat-checkbox  [formControl]="rememberMeControl">Remember Me</mat-checkbox>
		</div> -->
		<button class="mt-2" color="accent" mat-raised-button [disabled]="!formGroup.valid">Sign Up</button>
	</form>
</div>
