@if(qualityOptions != null && qualityOptions.length > 0) {
<div class="quality-select" (click)="isExpanded = !isExpanded">
	<div class="internal-container">

		@if(isExpanded && !usePopupSelect) {
		@for(option of qualityOptions; track option){
		<button class="option clickable" [class.active]="option == selectedQuality" (click)="setQuality(qualityOptions.indexOf(option))">
			<mat-icon class="selected-marker" aria-hidden="true">circle</mat-icon>
			<p class="mat-body">{{option.label}}</p>
		</button>
		}
		}
		@if(selectedQuality != null) {
		<button class="option quality-select-button clickable"><p class="mat-body">{{selectedQuality.label}}</p></button>
		}
	</div>
</div>
		}
