.quality-select {
  position: relative;
  height: 100%;
  width: 64px;
}
  .quality-select .internal-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: fit-content;
  }

.option {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #00000080;
  padding: 0px 0px 0px 0px;
  border: none;
}
.quality-select-button {
  padding: 0px 24px 0px 24px;
  background-color: transparent;
}
p {
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  color: #fff;
}
mat-icon {
  color: #fff;
}
.clickable:hover {
  cursor: pointer;
}
.selected-marker {
  transform: scale(0.25);
  visibility: hidden;
}
.active .selected-marker {
  visibility: visible;
}

