<div>
	<mat-toolbar class="global-horizontal-padding">
		<button mat-button class="ps-2 me-auto" routerLink="/"><h2 class="mb-0">MicroTube</h2></button>
		<div *ngIf="!(authManager.jwtSignedInUser$ | async) as user; else userProfile">
			<button mat-button [matMenuTriggerFor]="signInMenu">Sign In</button>
			<button mat-button routerLink="/signup">Sign Up</button>
			<mat-menu #signInMenu>
				<sign-in-form (click)="$event.stopPropagation();" />
			</mat-menu>
		</div>
		<ng-template #userProfile>
			<div class="d-flex align-items-center">
				<div *ngIf="isUserEmailConfirmed() === false">
					<email-confirmation-reminder />
				</div>
				<h4 class="m-0">{{authManager.jwtSignedInUser$.value?.publicUsername}}</h4>
				<button mat-icon-button color="accent" [matMenuTriggerFor]="profileMenu"><mat-icon>account_circle</mat-icon></button>
				<mat-menu #profileMenu>
					<profile-popup />
				</mat-menu>
			</div>

		</ng-template>
	</mat-toolbar>
  <main>
	  <div class="global-horizontal-padding">
		  <router-outlet></router-outlet>
	  </div>
  </main>
</div>
