<div>
  <mat-toolbar class="px-5">
	  <button mat-button class="ps-2 me-auto" routerLink="/"><h2 class="mb-0">MicroTube</h2></button>
	<div *ngIf="!(authManager.jwtSignedInUser$ | async) as user; else userProfile">
		<button mat-button [matMenuTriggerFor]="signInMenu">Sign In</button>
		<button mat-button routerLink="/signup">Sign Up</button>
		<mat-menu #signInMenu>
			<sign-in-form (click)="$event.stopPropagation();" />
		</mat-menu>
	</div>
	<ng-template #userProfile>
		<div class="d-flex align-items-center">
			<div *ngIf="isUserEmailConfirmed() === false; else userConfirmed">
				<email-confirmation-reminder/>
			</div>
			<ng-template #userConfirmed>
				<button class="me-5" mat-button routerLink="/upload">Upload</button>
			</ng-template>
			<p class="mb-0">Welcome, <a routerLink="/user/profile"><strong>{{authManager.jwtSignedInUser$.value?.publicUsername}}</strong></a>.</p>
			<button mat-icon-button class="d-flex" color="primary" [matMenuTriggerFor]="signOutMenu" #signOutMenuTrigger><mat-icon>logout</mat-icon></button>
			<mat-menu #signOutMenu>
				<sign-out-form (click)="$event.stopPropagation()" (onCancelled)="closeSignOutMenu()" (onConfirmed) ="closeSignOutMenu()" />
			</mat-menu>
		</div>
		
	</ng-template>
  </mat-toolbar>
  <main>
	  <router-outlet></router-outlet>
  </main>
</div>
