@import "../breakpoints.scss";

/*.outlet-container {
  padding-inline: 4%;
}*/
.global-horizontal-padding {
  padding-inline: 1%;
}
@include sm {
  .global-horizontal-padding {
    padding-inline: 1%;
  }
}
@include md {
  .global-horizontal-padding {
    padding-inline: 2.5%;
  }
}
@include lg {
  .global-horizontal-padding {
    padding-inline: 4%;
  }
}


