<div class="p-2 d-flex flex-column align-items-start">
	<button mat-button routerLink="user/profile" class="d-inline">
		<mat-icon>person</mat-icon>
		Account
	</button>
	<hr class="w-100" />
	<button mat-button routerLink="/upload"><mat-icon>publish</mat-icon>Upload a Video</button>
	<button mat-button routerLink="/upload/list"><mat-icon>timeline</mat-icon>Upload History</button>
	<!-- <button mat-button>Watch History</button> -->
	<hr class="w-100"/>
	<button mat-button [matMenuTriggerFor]="signOutMenu" (click)="$event.stopPropagation()" #signOutMenuTrigger>
		<mat-icon>logout</mat-icon>
		Sign Out
		</button>
	<mat-menu #signOutMenu>
		<sign-out-form (click)="$event.stopPropagation()" (onCancelled)="closeSignOutMenu()" />
	</mat-menu>
</div>
