.status-cell {
  min-width: 180px;
  display: flex;
  align-items:center;
  height:56px;
}
.status-icon {
  transform: scale(0.7);
}
.status-success {
  color: green;
  
}
.status-fail {
color: red;
}
.status-in-queue {
  color: orange
}
.status-in-progress {
color: olivedrab
}
.description-cell-content {
  text-overflow: ellipsis;
  max-width:3rem;
}
.title-cell-content {
  text-overflow: ellipsis;
  max-width: 2rem;
  
}
.root-container {
  overflow-x: auto;
}
