<div class="d-flex justify-content-center p-3">
	<div *ngIf="!showForm; else passwordChangeForm">
		<div [ngSwitch]="status">
			<div *ngSwitchDefault>
				<h5>Processing...</h5>
			</div>
			<div *ngSwitchCase="RequestStatus.Error">
				<h5>Link is invalid or expired.</h5>
			</div>
		</div>
	</div>
	<ng-template #passwordChangeForm>
		<div [ngSwitch]="status">
			<div *ngSwitchDefault>
				<form class="d-flex flex-column align-items-center py-2" (ngSubmit)="submit()" [formGroup]="formGroup">
					<mat-form-field class="mt-2" subscriptSizing="dynamic" color="accent" appearance="fill">
						<mat-label>Password</mat-label>
						<input type="password" matInput [formControl]="passwordControl">
						<mat-error class="small" *ngIf="getPasswordRequiredError() != null">{{getPasswordRequiredError()}}</mat-error>
						<mat-error class="small" *ngIf="getPasswordLengthError() != null">{{getPasswordLengthError()}}</mat-error>
						<mat-error class="small" *ngIf="getPasswordLetterError() != null">{{getPasswordLetterError()}}</mat-error>
						<mat-error class="small" *ngIf="getPasswordDigitError() != null">{{getPasswordDigitError()}}</mat-error>
					</mat-form-field>
					<mat-form-field class="mt-2" subscriptSizing="dynamic" color="accent" appearance="fill">
						<mat-label>Password (Again)</mat-label>
						<input type="password" matInput [formControl]="passwordConfirmationControl">
						<mat-error class="small" *ngIf="getPasswordsMatchError() != null">{{getPasswordsMatchError()}}</mat-error>
					</mat-form-field>
					<button class="mt-2" color="accent" mat-raised-button [disabled]="!formGroup.valid">Set New Password</button>
				</form>
			</div>
			<div *ngSwitchCase="RequestStatus.Error">
				<h5>Link is invalid or expired.</h5>
			</div>
			<div *ngSwitchCase="RequestStatus.Success">
				<h5>Password changed successfully. You can leave this page.</h5>
			</div>
		</div>
	</ng-template>
</div>
