@use '@angular/material' as mat;
@import "../breakpoints.scss";
@import '../custom-theme';
.video-search-bar {
  width:40vw;
  max-width: 32rem;
}
mat-toolbar {
  background-color: transparent;
}
/*@media (max-width: 599px) {
  .outlet-container {
    max-height: calc( 100vh - var(--mat-toolbar-mobile-height));
  }
}
.outlet-container {
  max-height: calc( 100vh - var(--mat-toolbar-standard-height));
}*/

.logo-header {
  
}
.logo-full {
  max-width: 10rem;
  display: none;
}
.logo-small {
  max-width: 3.125rem;
  display: block;
}

@include sm {
  .logo-full {
    display: block;
  }

  .logo-small {
    display: none;
  }
}
