<div>
	<div class="toolbar">
		<button mat-button class="h-100" routerLink="/">
			<img class="logo-header logo-full" src="/assets/img/logo/microtube-logo-full-white.svg" />
			<img class="logo-header logo-small" src="/assets/img/logo/microtube-icon-white.svg" />
		</button>
		<suggestion-search-bar class="video-search-bar" [suggestionsSource]="videoSearchSuggestionsSource" [onSubmit]="searchVideo.bind(this)" [onInputChanged]="updateSearchSuggestions.bind(this)" />
		<div *ngIf="!(authManager.jwtSignedInUser$ | async) as user; else userProfile">
			<button mat-icon-button class="sign-in-button" (click)="openSignIn()">
				<mat-icon>login</mat-icon>
			</button>
		</div>
		<ng-template #userProfile>
			<div class="d-flex align-items-center">
				<div *ngIf="isUserEmailConfirmed() === false">
					<email-confirmation-reminder />
				</div>
				<h4 class="m-0">{{authManager.jwtSignedInUser$.value?.publicUsername}}</h4>
				<button mat-icon-button [matMenuTriggerFor]="profileMenu"><mat-icon>account_circle</mat-icon></button>
				<mat-menu #profileMenu>
					<profile-popup />
				</mat-menu>
			</div>

		</ng-template>
	</div>
  <main>
	  <div class="global-horizontal-padding outlet-container">
		  <router-outlet/>
	  </div>
  </main>
</div>
