@import "../breakpoints.scss";
.video-search-bar {
  width:40vw;
  max-width: 32rem;
  min-width: 16rem;
}
.logo-full {
  max-width: 10rem;
  display: none;
}
.logo-small {
  max-width: 3.125rem;
  display: block;
}

@include sm {
  .logo-full {
    display: block;
  }

  .logo-small {
    display: none;
  }
}
.toolbar {
  height: var(--mat-toolbar-mobile-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 0.625rem;
}

.navbar-username {
  display: none;
}
@include xs {
  .toolbar {
    padding-inline: 1vw;
  }

  .video-search-bar {
    min-width: 14rem;
  }
}
@include xxs {
  .video-search-bar {
    min-width: 10rem;
  }
}
@include sm {
  .toolbar {
    padding-inline: 1vw;
  }
}
@include md {
  .toolbar {
    padding-inline: 2.5vw;
  }

  .navbar-username {
    display: inline-block;
  }
}

@include lg {
  .toolbar {
    padding-inline: 4vw;
    
  }
}
.logo-button {
  height:100%;
}
.signed-in-navbar-container {
  display: flex;
align-items:center;
}
