<div>
	<div class="toolbar">
		<button mat-button class="logo-button" routerLink="/">
			<img class="logo-header logo-full" src="/assets/img/logo/microtube-logo-full-white.svg" />
			<img class="logo-header logo-small" src="/assets/img/logo/microtube-icon-white.svg" />
		</button>
		<suggestion-search-bar class="video-search-bar" [suggestionsSource]="videoSearchSuggestionsSource" [onSubmit]="searchVideo.bind(this)" [onInputChanged]="updateSearchSuggestions.bind(this)" />
		<div class="right-menus-container">
			@if(authManager.jwtSignedInUser$ | async) {
			<div class="signed-in-navbar-container">
				@if(!isUserEmailConfirmed()) {
				<email-confirmation-reminder />
				}
				<h4 class="mat-h4">{{authManager.jwtSignedInUser$.value?.publicUsername}}</h4>
				<button mat-icon-button [matMenuTriggerFor]="profileMenu"><mat-icon>account_circle</mat-icon></button>
				<mat-menu #profileMenu>
					<profile-popup />
				</mat-menu>
			</div>
			}
			@else {
			<button mat-icon-button class="sign-in-button" (click)="openSignIn()">
				<mat-icon>login</mat-icon>
			</button>
			}
			<misc-menu />
		</div>
		
	</div>
  <main>
	  <div class="global-horizontal-padding outlet-container">
		  <router-outlet/>
	  </div>
  </main>
</div>
