@use '@angular/material' as mat;
@include mat.core();

$MicroTube-primary: mat.define-palette(mat.$blue-palette);
$MicroTube-accent: mat.define-palette(mat.$cyan-palette);

$MicroTube-warn: mat.define-palette(mat.$red-palette);

$MicroTube-theme: mat.define-dark-theme((
  color: (
    primary: $MicroTube-primary,
    accent: $MicroTube-accent,
    warn: $MicroTube-warn,
  )
));
$MicroTube-typography: mat.define-typography-config();

@include mat.all-component-themes($MicroTube-theme);
@include mat.typography-hierarchy($MicroTube-typography);

