@use '@angular/material' as mat;
@import './custom-theme';
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
mat-mdc-form-field-bottom-align::before
{
  content: "";
  display: none;
  height: 16px;
}
*/
:root {
  color-scheme: dark;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  background-color: mat.get-color-from-palette($MicroTube-primary, 900) !important;
  
}
a {
  color: white;
  max-width: 100%;
  height:auto;
}
.dense-minus-1 {
  @include mat.all-component-densities(-1);
}
.dense-minus-2 {
  @include mat.all-component-densities(-2);
}
.dense-minus-3 {
  @include mat.all-component-densities(-3);
}
.caption-grey {
  color: mat.get-color-from-palette($MicroTube-primary, 100) !important;
}
$xs: screen and (max-width: 599px);
$sm: screen and (min-width: 600px) and (max-width: 959px);
$md: screen and (min-width: 960px) and (max-width: 1279px);
$lg: screen and (min-width: 1280px) and (max-width: 1919px);
$xl: screen and (min-width: 1920px) and (max-width: 5000px);


